<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>target/baby.jar</jar>
  <outfile>target/baby-bundled.exe</outfile>
  <errTitle>Manchester Baby Simulator</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>src/main/resources/icons/baby.ico</icon>
  <jre>
    <path>jre</path>
    <bundledJre64Bit>true</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>jreOnly</jdkPreference>
    <runtimeBits>64</runtimeBits>
    <initialHeapSize>128</initialHeapSize>
    <maxHeapSize>512</maxHeapSize>
    <opt>-Dfile.encoding=UTF-8</opt>
  </jre>
  <versionInfo>
    <fileVersion>3.1.0.0</fileVersion>
    <txtFileVersion>3.1.0</txtFileVersion>
    <fileDescription>Manchester Baby Simulator</fileDescription>
    <copyright>David Sharp</copyright>
    <productVersion>3.1.0.0</productVersion>
    <txtProductVersion>3.1.0</txtProductVersion>
    <productName>Manchester Baby Simulator</productName>
    <companyName></companyName>
    <internalName>baby</internalName>
    <originalFilename>baby.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>
